<?php
include 'base_pages/header.php';
?>

<div class="main__container">
    <?php
    include 'profile/profile.php';
    ?>

    <?php
    include 'profile/profileRate.php';
    ?>
</div>

<?php
include 'base_pages/footer.php';
?>