* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.profile__sections {
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.profile__section {
    width: 1200px;
    padding: 20px 45px 50px 45px;

    display: flex;
    justify-content: space-between;
}

.profile__description {
    display: flex;
    justify-content: space-between;
}

.profile__bgr_content {
    width: 825px;
    height: 92%;
    background: url('../images/bgr.png');
    background-size: cover;

}