* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile__rate_container {
    max-width: 1440px;
}

.profile__rate_content {
    width: 1200px;

    padding: 20px 45px 50px 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}