* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.footer__nav_list {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.footer__logo_link {
    display: flex;
    flex-direction: column;
    align-items: center;
}