{% extends 'base.html.twig' %}

<div class="footer__container">
    <ul class="footer__nav_list">
        <li class="footer__nav_item">
            <a href="#" class="footer__nav-link">Правила платформы</a>
        </li>
        <li class="footer__nav_item">
            <a href="#" class="footer__nav-link">Правила платформы</a>
        </li>
        <li class="footer__nav_item">
            <a href="#" class="footer__nav-link footer__logo_link">
                <span header="footer-logo">WH</span>
                <p class="footer__logo-subtitle">CODE</p>
            </a>
        </li>
        <li class="footer__nav_item">
            <a href="#" class="footer__nav-link">Правила платформы</a>
        </li>
        <li class="footer__nav_item">
            <a href="#" class="footer__nav-link">Правила платформы</a>
        </li>
    </ul>
</div>
</body>

</html>