{% extends 'base.html.twig' %}

<header>
    <div class="header__container">
        <nav class="header__navbar">
            <a href="#" class="header__logo_link">
                <span header="header-logo">WH</span>
                <p class="header__logo-subtitle">CODE</p>
            </a>

            <ul class="header__nav_list">
                <li class="header__nav_item">
                    <a href="#" class="header__nav-link">Решать</a>
                </li>
                <li class="header__nav_item">
                    <a href="#" class="header__nav-link">Создать</a>
                </li>
                <li class="header__nav_item">
                    <a href="#" class="header__nav-link">Профиль</a>
                </li>
            </ul>
        </nav>
    </div>
</header>