<link rel="stylesheet" href="../../../../public/css/profile/dashboard.css">


<div class="dashboard">
    <div class="dashboard__content">
        <div class="dashboard__calendar">
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
        </div>

        <p class="dashboard-month">Июнь</p>
    </div>

    <div class="dashboard__content">
        <div class="dashboard__calendar">
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
        </div>

        <p class="dashboard-month">Июль</p>
    </div>

    <div class="dashboard__content">
        <div class="dashboard__calendar">
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
        </div>

        <p class="dashboard-month">Август</p>
    </div>

    <div class="dashboard__content">
        <div class="dashboard__calendar">
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
        </div>

        <p class="dashboard-month">Сентябрь</p>
    </div>

    <div class="dashboard__content">
        <div class="dashboard__calendar">
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
        </div>

        <p class="dashboard-month">Октябрь</p>
    </div>

    <div class="dashboard__content">
        <div class="dashboard__calendar">
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
            <div class="dashboard-shape"></div>
        </div>

        <p class="dashboard-month">Ноябрь</p>
    </div>
</div>