<link rel="stylesheet" href="../../../../public/css/profile/profileRate.css">


<div class="profile__rate_container">
    <div class="profile__rate_content">
        <?php
        include 'storyPoint.php';
        ?>

        <?php
        include 'dashboard.html.twig';
        ?>
    </div>
</div>