<link rel="stylesheet" href="../../../../public/css/profile/storyPoint.css">


<div class="story__point_container">
    <div class="story__point_content">
        <div class="story__point_description">
            <p class="story__point_description-text">430/10928</p>
            <p class="story__point_description-text">Решено</p>

        </div>

        <p class="story__point-interval">3 дня без перерыва</p>
    </div>

    <div class="story__point_marks">
        <div class="story__point_mark green"></div>
        <div class="story__point_mark yellow"></div>
        <div class="story__point_mark red"></div>
    </div>
</div>