{% extends '../base.html.twig' %}

{% block title %}Hello ToDoListController!{% endblock %}


{% block body %}

    {% block header %} {% endblock %}

    {#            {% block main %} {% endblock %}#}

    {% block footer %} {% endblock %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/Programming/Practice/Projects/1/Vladislav/symfony/todo_list/src/Controller/ToDoListController.php</code></li>
        <li>Your template at <code>D:/Programming/Practice/Projects/1/Vladislav/symfony/todo_list/templates/to_do_list/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
