<link rel="stylesheet" href="../../../../public/css/result_page/result.css">


<div class="result__container">
    <div class="result__indicators">
        <div class="result__indicator">
            <p class="result__icon">
                <i class="fa-solid fa-check"></i>
            </p>

            <p class="result-theme">Two Sum</p>

            <p class="result-point">69%</p>

            <div class="result-mark green"></div>
        </div>

        <div class="result__indicator">
            <p class="result__icon">
                <i class="fa-solid fa-check"></i>
            </p>

            <p class="result-theme">Add Two Numbers</p>

            <p class="result-point">43%</p>

            <div class="result-mark red"></div>
        </div>

        <div class="result__indicator">
            <p class="result__icon">
                <i class="fa-solid fa-check"></i>
            </p>

            <p class="result-theme">Median of Two Sorted Arrays</p>

            <p class="result-point">88%</p>

            <div class="result-mark green"></div>
        </div>

        <div class="result__indicator">
            <p class="result__icon">
                <i class="fa-solid fa-check"></i>
            </p>

            <p class="result-theme">Longest Palindromic Substring</p>

            <p class="result-point">88%</p>

            <div class="result-mark yellow"></div>
        </div>

        <div class="result__indicator">
            <p class="result__icon">
                <i class="fa-solid fa-check"></i>
            </p>

            <p class="result-theme">String to Integer (atoi)</p>

            <p class="result-point">88%</p>

            <div class="result-mark yellow"></div>
        </div>

        <div class="result__indicator">
            <p class="result__icon">
                <i class="fa-solid fa-check"></i>
            </p>

            <p class="result-theme">String to Integer (atoi)</p>

            <p class="result-point">88%</p>

            <div class="result-mark green"></div>
        </div>

        <div class="result__indicator">
            <p class="result__icon">
                <i class="fa-solid fa-check"></i>
            </p>

            <p class="result-theme">Roman to Integer</p>

            <p class="result-point">88%</p>

            <div class="result-mark red"></div>
        </div>

        <div class="result__indicator">
            <p class="result__icon">
                <i class="fa-solid fa-check"></i>
            </p>

            <p class="result-theme">3Sum Closest</p>

            <p class="result-point">88%</p>

            <div class="result-mark green"></div>
        </div>

        <div class="result__indicator">
            <p class="result__icon">
                <i class="fa-solid fa-check"></i>
            </p>

            <p class="result-theme">Remove Nth Node From End of List</p>

            <p class="result-point">88%</p>

            <div class="result-mark yellow"></div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/b654837204.js" crossorigin="anonymous"></script>