{% extends 'auth.html.twig' %}

<form action="" class="sign__in none">
    <input type="text" placeholder="Имя пользователя" />
    <input type="password" placeholder="Пароль" />
    <p><input type="checkbox" /> Запомнить меня</p>

    <div class="sign__in_links">
        <button class="login-button">Войти</button>
        <a href="#" class="forgot-link">Забыли пароль?</a>
    </div>
</form>