
<form action="" class="sign__up ">
    <input type="text" placeholder="Ваше имя" />
    <input type="text" placeholder="Ваша фамилия" />
    <input type="email" placeholder="Ваш email" />

    <input type="password" placeholder="Придумайте пароль">
    <input type="password" placeholder="Повторите пароль">

    <p>
        <input type="checkbox"> Согласен с условиями сайта
    </p>

    <div class="sign__up_btn">
        <button>Регистрация</button>
    </div>

</form>